page-producto {
  .content-search {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    .content-buttons {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .header-selection {
    background-color: #222222;
    color: #f4f4f4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
